<mat-toolbar color="primary" *ngIf="showmenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular 18 Full course</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="">Home</button>
    <button mat-button routerLink="about">About</button>
    <button mat-button routerLink="contact">Conatct</button>
    <button mat-button routerLink="customer">Customer</button>
    <button mat-button routerLink="product">Product</button>
    <button mat-button routerLink="login">Logout</button>
    
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>